/* Contenedor principal */
.dashboard {
    font-family: Arial, sans-serif;
    background-color: #f9f9fb;
    min-height: 100vh;
}

/* Títulos */
.dashboard-title {
    padding: 30px 40px 10px 40px;
}

.dashboard-title h2 {
    margin: 0;
    font-size: 1.4rem;
}

.dashboard-title p {
    margin: 5px 0 0 0;
    color: #666;
}

/* Cards */
.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 80px;
    padding: 20px 40px;
    justify-content: flex-start; /* mejor centrado de las cards */
}
