.card-dashboard {
    background-color: #f4f5ff;
    border: 1px solid #4B81D8;
    border-radius: 12px;
    padding: 16px;
    position: relative;

    /* Para que sea más cuadrada */
    width: 320px;
    height: 160px;
    /* Centramos contenido verticalmente si hace falta */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* los items se alinean al inicio */
}


.card-dashboard-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-dashboard-icon {
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.card-dashboard h3 {
    margin: 0;
    font-size: 1.1rem;
}

.card-dashboard-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.card-dashboard-icon {
    color: #4B81D8;
}

.card-dashboard-button {
    display: inline-block;
    margin-top: 10px;
    background-color: #4B81D8;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

.card-dashboard-button:hover {
    background-color: #294e8a;
}

.card-dashboard:hover {
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

.card-dashboard-number {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-weight: bold;
    color: #6b6a6a;
    font-size: 0.9rem;
}


.card-dashboard-icon-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 8px;
    /* espacio entre icono y título */
}